doctype html
html(lang="fr")
  head
    meta(charset="UTF-8")
    title Exo

  body
    header
      include ../menu.pug

    main
      block content

    footer
      include ../footer.pug

    block scripts
